
<!DOCTYPE html>
<html ng-keydown="keyDownHandler($event)" lang="en" ng-app="ben10FanWiki">
<head>
	<link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Margarine&family=Poetsen+One&family=Roboto+Slab:wght@100..900&family=Teachers:ital,wght@0,400..800;1,400..800&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
	<link href="https://fonts.googleapis.com/css2?family=Calistoga&family=Jacquard+12&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Calistoga&family=Jacquard+12&family=Sedan+SC&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Calistoga&family=Jacquard+12&display=swap" rel="stylesheet">
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ben 10 Fan Wiki BY Deekshith</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

  <link rel="stylesheet" type="text/css" href="./assets/ben10/ben.css">

<div id="banner">
    <img src="https://static.wikia.nocookie.net/ben10/images/7/7c/Ben10-background-static.png/revision/latest/scale-to-width-down/1000?cb=20180607174817" alt="Ben 10 Banner">
</div>
  	 <h1 id="heading" onclick="refreshpage()">Ben 10</h1>
<body ng-controller="MainController" ng-keydown="keyDownHandler($event)">
    <nav>
        <ul>
            <li ng-click="showSection('characters')" ng-class="{ 'active': currentSection === 'characters' }">Characters</li>
            <li ng-click="showSection('aliens')" ng-class="{ 'active': currentSection === 'aliens' }">Aliens</li>
            <li ng-click="showSection('places')" ng-class="{ 'active': currentSection === 'places' }">Places</li>
            <li ng-click="showSection('events')" ng-class="{ 'active': currentSection === 'events' }">Events</li>
            <li ng-click="showSection('finalBattles')" ng-class="{ 'active': currentSection === 'finalBattles' }">Battles (Final)</li>
			<li ng-click="showSection('files')" ng-class="{ 'active': currentSection === 'files' }">Music</li>
			<li ng-click="showSection('videos')" ng-class="{ 'active': currentSection === 'videos' }">Videos (clips)</li>     
        </ul>
    </nav>
    <div class="section" id="charactersSection">
        <h2>Characters</h2>
        <div class="character-list">
            <div class="character" ng-repeat="character in characters" ng-click="toggleSubSection($index)">
                <div class="section1">
				<h3 ng-class="{ 'larger-font': activeCharacter === $index }">{{ character.name }}</h3>
                <div class="sub-section" ng-class="{ 'active': activeCharacter === $index }">
                    <img ng-src="{{ character.image }}" alt="{{ character.name }}">
                    <p>{{ character.bio }}</p>
                </div></div>
            </div>
        </div>
    </div>

    <div class="section" id="aliensSection">
        <h2>Aliens</h2>
        <div class="character-list">
            <div class="character" ng-repeat="alien in aliens" ng-click="toggleSubSection($index)">
                <div class="section1">
				<h3 ng-class="{ 'larger-font': activeCharacter === $index }">{{ alien.name }}</h3>
                <div class="sub-section" ng-class="{ 'active': activeCharacter === $index }">
                    <img ng-src="{{ alien.image }}" alt="{{ alien.name }}">
                    <p>{{ alien.description }}</p>
                </div></div>
            </div>
        </div>
    </div>

<div class="section" id="placesSection">
    <h2>Places</h2>
    <div class="character-list">
        <div class="character" ng-repeat="place in places" ng-click="toggleSubSection($index)">
            <div class="section1">
			<h3 ng-class="{ 'larger-font': activeCharacter === $index }">{{ place.name }}</h3>
            <div class="sub-section" ng-class="{ 'active': activeCharacter === $index }">
                    <img ng-src="{{ place.image }}" alt="{{ place.name }}">
                    <p>{{ place.description }}</p>
                </div>
        </div></div>
    </div>
</div>

<div class="section" id="eventsSection">
        <h2>Moments</h2>
        <div class="character-list">
            <div class="character" ng-repeat="event in events" ng-click="toggleSubSection($index)">
                <div class="section1">
				<h3 ng-class="{ 'larger-font': activeCharacter === $index }">{{ event.name }}</h3>
                <div class="sub-section" ng-class="{ 'active': activeCharacter === $index }"><br>
                    <img ng-src="{{ event.image }}" alt="{{ event.name }}">
                    <p>{{ event.description }}</p>
                </div>
            </div></div>
        </div>
    </div>

    <div class="section" id="finalBattlesSection">
        <h2>Final Battles</h2>
        <div class="character-list">
            <div class="character" ng-repeat="battle in finalBattles" ng-click="toggleSubSection($index)">
                <div class="section1">
				<h3 ng-class="{ 'larger-font': activeCharacter === $index }">{{ battle.name }}</h3>
                <div class="sub-section" ng-class="{ 'active': activeCharacter === $index }">
                    <img ng-src="{{ battle.image }}" alt="{{ battle.name }}">
                    <p>{{ battle.description }}</p>
                </div>
            </div></div>
        </div>
    </div>
    <div class="section" id="filesSection">
        <h2>Music</h2>
        <div class="character-list">
            <div class="character" ng-repeat="file in files" ng-click="toggleFile($index)">
                <div class="section1">
                    <h3 ng-class="{ 'larger-font': activeCharacter === $index }">{{ file.name }}</h3>
                    <div  class="sub-section" ng-class="{ 'active': activeFile === $index }">
                        <img ng-src="{{ file.image }}" alt="{{ file.name }}">
						<div class="audio-container">
						<audio controls id="audio-{{ $index }}">
                            <source ng-src="{{ file.src }}" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                        </div>
                        <p>{{ file.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="section" id="videosSection"><div id="s1">
    <h2>Episodes</h2></div>
    <nav class= "subnav">
        <ul>
            <li ng-click="showSeason('classic')" ng-class="{ 'active': currentSeason === 'classic' }">Classic</li>
            <li ng-click="showSeason('alienforce')" ng-class="{ 'active': currentSeason === 'alienforce' }">Alien Force</li>
            <li ng-click="showSeason('ultimatealien')" ng-class="{ 'active': currentSeason === 'ultimatealien' }">Ultimate Alien</li>
        </ul>
    </nav>
<div class="season" id="classicSection" ng-show="currentSeason === 'classic'">
    <h2>Classic Videos</h2>
    <div class="character-list">
        <div class="character" ng-repeat="video in videos" ng-click="toggleVideo($index)">
            <h3 ng-class="{ 'larger-font': activeClassicVideo === $index }">{{ video.name }}</h3>
            <div class="sub-section" ng-class="{ 'active': activeClassicVideo === $index }">
                <div class="video1">
                    <div ng-if="video.type === 'github'">
                        <video controls ng-src="{{ video.src }}" class="video-player" id="classicVideo-{{$index}}"></video>
                    </div>
                </div>
                <div ng-if="video.type === 'iframe' && activeClassicVideo === $index">
                    <iframe sandbox="allow-scripts allow-same-origin" ng-src="{{ trustSrc(video.src) }}" class="iframe-player" allowfullscreen id="classicIframe-{{$index}}"></iframe>
                            <div class="overlay-block"></div>
				</div>
                <p>{{ video.description }}</p>
            </div>
        </div>
    </div>
</div>

<div class="season" id="alienforceSection" ng-show="currentSeason === 'alienforce'">
    <h2>Alien Force Videos</h2>
    <div class="character-list">
        <div class="character" ng-repeat="video in alienforceVideos" ng-click="toggleVideo($index)">
            <h3 ng-class="{ 'larger-font': activeAlienForceVideo === $index }">{{ video.name }}</h3>
            <div class="sub-section" ng-class="{ 'active': activeAlienForceVideo === $index }">
                <div class="video1">
                    <div ng-if="video.type === 'github'">
                        <video controls ng-src="{{ video.src }}" class="video-player" id="alienforceVideo-{{$index}}"></video>
                    </div>
                </div>
                <div ng-if="video.type === 'iframe' && activeAlienForceVideo === $index">
                    <iframe sandbox="allow-scripts allow-same-origin" ng-src="{{ trustSrc(video.src) }}" class="iframe-player" allowfullscreen id="alienforceIframe-{{$index}}"></iframe>
                            <div class="overlay-block"></div>
				</div>
                <p>{{ video.description }}</p>
            </div>
        </div>
    </div>
</div>

<div class="season" id="ultimatealienSection" ng-show="currentSeason === 'ultimatealien'">
    <h2>Ultimate Alien Videos</h2>
    <div class="character-list">
        <div class="character" ng-repeat="video in ultimatealienVideos" ng-click="toggleVideo($index)">
            <h3 ng-class="{ 'larger-font': activeUltimateAlienVideo === $index }">{{ video.name }}</h3>
            <div class="sub-section" ng-class="{ 'active': activeUltimateAlienVideo === $index }">
                <div class="video1">
                    <div ng-if="video.type === 'github'">
                        <video controls ng-src="{{ video.src }}" class="video-player" id="ultimatealienVideo-{{$index}}"></video>
                    </div>
                </div>
                <div ng-if="video.type === 'iframe' && activeUltimateAlienVideo === $index">
                    
					<iframe sandbox="allow-scripts allow-same-origin" ng-src="{{ trustSrc(video.src) }}" class="iframe-player" allowfullscreen id="ultimatealienIframe-{{$index}}"></iframe>
                            <div class="overlay-block"></div>
				</div>
                <p>{{ video.description }}</p>
            </div>
        </div>
    </div>
</div>



</div>
  <script src="./assets/ben10/ben.js"></script></head>
<p id="message">Use ctrl+(first letter of the section) to switch between sections..</p>

</body>

</html>
