
body {
    user-select: none;
    cursor: url('https://raw.githubusercontent.com/deekshith0509/deekshith0509.github.io/main/assets/cursor/c.cur'), auto;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
	overflow-x: hidden !important;

}

/* Pseudo-element for background blur */
body::before {
    content: "";
    position:fixed;
    top: -10px;;
    left: -10px;
    width: 108%;
    height: 108%;
    background-image: url('https://static.wikia.nocookie.net/ben10/images/f/f6/Classic_Homepage_background.png/');
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(7px);
    z-index: -1;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
	nav {
	width: 100vw !important;
	
	}
    nav ul {
	flex-wrap: nowrap; /* Prevent items from wrapping */
        overflow-x: auto; /* Enable horizontal scrolling */
		justify-content: flex-start !important;
		
    }

    nav ul li {
        font-size: 14px; /* Reduce font size for smaller screens */
    }
 .iframe-player {
	width: 80vw !important;
  height: 27vh !important; /* Adjust height as needed */
  border: 2px solid green; /* Border for iframe */
  border-radius: 10px; /* Rounded corners */=
}
nav.subnav {
    padding: 2px 0 2px 0 !important; /* Ensure that padding is applied */
    width: 100vw !important ;
    overflow-x: hidden;

}

}

/* Style for iframe */
.iframe-player {
	width: 800px;
  height: 450px; /* Adjust height as needed */
  border: 2px solid green; /* Border for iframe */
  border-radius: 10px; /* Rounded corners */=
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #444;
    display: flex;
    justify-content: center;
    }


nav ul li {
    padding: 10px 20px;
    cursor: url('https://raw.githubusercontent.com/deekshith0509/deekshith0509.github.io/main/assets/cursor/cartoonhand.cur'), auto;
    border-right: 1px solid #ccc;
    color: #fff;
    text-align:center;
    transition: background-color 0.3s;
    font-weight:bold;
    font-family: "Josefin Sans", sans-serif; /* Add this line to change font style */
    width: auto;
	
}

nav ul li:hover{
    color:red;
}

nav ul li:last-child {
    border-right: none;
}



nav ul li.active {
    background-color: #666;
	color: rgb(255, 255, 122);
}

.section {
    display: none;
	padding : 0px 20px;	
}
.section.active {
    display: block;
}



.section h2 {
    text-align: center;
	padding-bottom:10px;
    margin-bottom: 10px;
    margin-left: 10px;
    color: black;
	font-family: "Agbalumo", system-ui;
    animation: 1glitterAnimation 2s infinite; /* Apply glitter animation */
}


.section h3 {
	margin-left: 30px;
	font-family: "Sedan SC", serif;
	


}

.section img {
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 10px;
    max-height: 450px;
    border-radius: 15px;
    max-width: 100%; /* Ensures image does not overflow its parent container */
    height: auto; /* Allows the image to scale proportionally */
}


.sub-section {
    display: none;
    margin-left: 20px;
    height: auto;
	margin-right: 10px;
    overflow-wrap: break-word; /* Ensure text wraps within the div */
}

.sub-section p{

  font-family: "Comic Neue", cursive;

  font-weight: 550;
}
.sub-section.active {
    text-align: center;
    display: block;
}

.character-list {
    display: flex;
    flex-wrap: wrap;
	margin-left: 10px;
	margin-right: 10px;
}

.character {
	display:block;
	align: center;
	justify-content: center;
	align-items: center;
	border-radius:10px;
    width: 100%;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 122);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.character:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Default styles */
.logo-img {
    position:absolute;
	left:10px;
    z-index:99999;
    width: 100px; /* Default width */
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .logo-img {
        width: 80px; /* Adjusted width for smaller screens */
    }
    
    .section img {
		margin-left: -4px;
        margin-top: -10px; /* Adjust margin-top for smaller screens */
    }
    
    .section h3 {
        margin-left: 20px; /* Remove left margin for smaller screens */
    }
#charactersSection .sub-section img,
#aliensSection .sub-section img,
#placesSection .sub-section img,
#eventsSection .sub-section img,
#finalBattlesSection .sub-section img ,
#filesSection .sub-section img,
{
    width: 100%;
    height: auto;
}
#videosSection .sub-section .video1 {
	margin-top: -20px !important;		
}
#videosSection .sub-section .video1 .video-player {
}

#banner{
height:100px;
}
 #banner img{
 height: 100px !important;
 }
 #heading {
	top: -10px !important;	
	font-size: 50px !important;
	
	
}

 .character-list {
	margin-left:-5px;
	margin-right: -5px;
 
 }
 .larger-font {
    text-align: center;
    font-size: 30px;
	margin-bottom: 18px !important;
	
}

    .audio-container {
        display: flex;
        justify-content: center; /* Centers the audio element within its container */
        width: 100%;
    }

    audio {
        display: block;
        width: 100%;
        max-width: 500px;
        margin-left: 15px !important ; /* Adjust the margin as needed */
        box-sizing: border-box;
    }
 
 
}

 #message {
            display: none; /* Initially hide the message */
            text-align: center;
            font-size: 18px;
            margin-top: 10px;
            color: #2e924b;
			margin-left:10px;
        }


#banner img {
    width: 100%;
    height: 170px; /* Fixed height */
    object-fit: cover;
    object-position: 50% 2%; /* Align the top of the image */
    margin-bottom: -5px;
}


#heading {
    position: absolute;
    top: 0px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
    cursor: url("https://raw.githubusercontent.com/deekshith0509/deekshith0509.github.io/main/assets/cursor/omnitrix.cur"), auto;
    font-family: "Calistoga", serif;  /* Change font to a blocky style */
    font-size: 80px;
    z-index: 1; /* Ensure the heading appears above the image */
    background-attachment: fixed;
	animation: glitterAnimation 6s ease-in-out infinite alternate;
}

@keyframes glitterAnimation {
    0% {
        text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px white, 0 0 25px white, 0 0 30px white, 0 0 35px white;
        color:hsl(90, 100%, 25%); /* Starting color */
    }
    50% {
        text-shadow: none;
        color: black; /* Change color midway */
    }
    100% {
        text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px white, 0 0 25px white, 0 0 30px white, 0 0 35px white;
        color: #008080; /* Return to the starting color */
    }
}


@keyframes glowAnimation {
    from { text-shadow: 0 0 10px rgba(255, 255, 255, 0.5); }
    to { text-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.6), 0 0 40px rgba(255, 255, 255, 0.4); }
}

.larger-font {
    font-size: 30px;
	margin: 20px 10px -10px 0;
	font-style: italic;
	font-weight: bold;
	font-variant: small-caps;
	text-align: left;
	margin-left: 20px;
	word-wrap: break-word;
}
audio {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 10px auto 0 auto; /* Adjusted to move the audio down by 10px */
    position: relative;
    right: 13px;
    box-sizing: border-box; /* Ensure the border is included in the width calculation */
}

audio::-webkit-media-controls-panel {
    background-color: #CAD94C;
    height: 60px; /* Set your desired height here */
}

    .audio-container {
        display: flex;
        justify-content: center; /* Centers the audio element within its container */
        width: 100%;
    }
.video1 {
    display: flex; /* Set display to flex */
    justify-content: center; /* Center the video horizontally */
    align-items: center; /* Center the video vertically */
	margin:10px;
}


.video-player {
    max-width: 800px; /* Optionally, set a maximum width for the video player */
	width: 80vw;
	display: block;
	
	border-radius:14px;
	
	
}

.sub-section.active {
    display: block;
    align-items: center;
	padding-top: 20px;
    justify-content: center;
	padding-right:10px;
}
/* Style for iframe */





.subnav {
    background-color: #444 !important;
    padding: 0 !important;
    display: flex !important;
    justify-content: center !important;
    width: 100vw !important;
    margin-left: -20px !important; /* Adjust as needed */
	margin-top: 40px;
}


.subnav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.subnav ul li {
    padding: 10px 20px;
    color: white;
    cursor: url('https://raw.githubusercontent.com/deekshith0509/deekshith0509.github.io/main/assets/cursor/cartoonhand.cur'), auto;
    
}

.subnav ul li.active {
    background-color: #666 !important;
}

@keyframes glitch {
    0%, 50% {
        transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate3d(0, 0, 0);
        opacity: 1;
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.8), 0 0 15px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 25px rgba(255, 255, 255, 0.8);
    }
    5%, 55% {
        transform: perspective(1000px) rotateX(5deg) rotateY(5deg) rotateZ(5deg) translate3d(2px, -2px, 0);
        opacity: 0.9;
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.8), 0 0 40px rgba(255, 255, 255, 0.8), 0 0 50px rgba(255, 255, 255, 0.8);
    }
    10%, 60% {
        transform: perspective(1000px) rotateX(10deg) rotateY(10deg) rotateZ(10deg) translate3d(-2px, 2px, 0);
        opacity: 0.8;
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.8), 0 0 40px rgba(255, 255, 255, 0.8), 0 0 50px rgba(255, 255, 255, 0.8);
    }
    /* Continue defining keyframes as needed */
    100% {
        transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate3d(0, 0, 0);
        opacity: 1;
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.8), 0 0 15px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 25px rgba(255, 255, 255, 0.8);
    }
}

@keyframes glitch-pause {
    0% { opacity: 1; }
    100% { opacity: 1; }
}

#subheading {
    background-color: rgba(0,0,0,0); /* A dark green background color */
	width: 100vw;
		left: -40px;
	rigth: -30px;
	height: 20px;
    color: #00ff00; /* Green text color */
    padding: 40px; /* Adjust padding as needed */
	position: relative;
	top : -20px;
	left: -20px;
    text-align: center; /* Center the text horizontally */
}

#s1 h2 {
    margin: -20px; /* Remove default margin */
	position: relative;
	top: 20px;
	font-size: 30px;
    animation: glitch 4s; /* Apply the glowing animation */
	margin-left: -20px !important;
}

.overlay-block {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 80px;
    background: rgba(255, 255, 255, 0); /* Invisible block to cover the button */
    z-index: 1;
}

